div.previeww:hover{
    opacity: 1;
}
.previeww{
    opacity:0 ;
}
.preview-root{
    border:0.1rem solid black;
    border-radius: 0.5rem;
}
.preview-root-logo{
    border-radius: 50%;
    border:0.1rem solid black;

}