.product-card{
    width:25em;
    max-height:30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139 147 148);
    padding:0.4em;
    border-radius:1em;
    position: relative;
    padding-bottom: 2em;

}
.product-card>.product-img{
    width:24em;
    height:16em;
    border-radius: 1em;
    overflow: hidden;
    margin-top:0.5em;
    border:0.3em solid rgb(0, 0, 0)

}

.product-desc>p{
    word-break: break-all;
    font-weight: 700;
    font-size: 1.6em;
    margin: 0em;
    line-height: 1.4;
}
.product-card>.product-img>img{
    object-fit: cover;
    width: 100%;
    height:100%;
}
.product-card>.infos{
    width: 24em;
    margin-top: 0.5em;
}
.product-card>.infos>.rating-section{
    display: flex;

}

.price-div{
    position: absolute;
    right: 1em;
    bottom: 0.4em;
}

.price-div>.original-price{
    
    text-decoration: line-through;
    position: absolute;
    top: -0.8em;
    font-size:1.2em;
    left: -1em;
    font-weight: 500;
    margin:0em;
}
.price-div>.promotion-price{
    font-weight: bolder;
    font-size:1.7em;
    margin:0em;

}
.product-desc{
    height:2.4em;
    overflow: hidden;
}