
.searchbar{
    
        background-color:var(--backgroundColor);
        width:var(--widthValue);
        height:var(--heightValue);
        border:var(--borderValue);
        border-radius:var(--borderRadiusValue);
        display:flex;
        align-items: center;

    
}
input{
   height:90%;
   font-size:var(--fontSize);
   background-color: inherit;
   border:none;
   outline:none;
   width:auto;
   width:62%;
}
.searchIcon{
        height:80%;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        
        object-fit: contain;
        width:2.6rem;
    
        

}
.searchIcon:hover,.filterIcon:hover,.filterIcon-p:hover{
        cursor:pointer;
}
.filterIcon{
        height: 90%;
        margin-right: 2%;
        width: 6.6%;
        display: flex;
        
}
svg{
        object-fit: contain;
        width: 100%;
        height: 100%;
}
.searchIcon>svg{
        height: 70%;
}
p{
        margin:0;
}
input{
        color:black;
}
.orders-card>div:hover,.orders-card>p:hover{
        cursor:pointer;
}